#owlContainer
  #owl
    #body
    #eye1
      .eye
      .pupil
    #eye2
      .eye
      .pupil
    #beak
      .beak
    #feathers
      #row2
        #feather1
          .feather
        #feather2
          .feather
      #row1
        .feather

    #legs
      #left
        .leg
        #lefttoe
          .joint
          .toe
        #middletoe
          .joint
          .toe
        #righttoe
          .joint
          .toe
      #right
        .leg
        #lefttoe
          .joint
          .toe
        #middletoe
          .joint
          .toe
        #righttoe
          .joint
          .toe

    #wings
      #wing1
        .folded
      #flying1.animateFlightLeft
        .wing
          #feathers
            #feather1
              .feather
            #feather2
              .feather
      #wing2
        .folded
      #flying2.animateFlightRight
        .wing
          #feathers
            #feather1
              .feather
            #feather2
              .feather

  h1#name Henry Snopek
