extends layout

block content
  #about
    :markdown
      ### Biography
      I currently attend Carroll University for a Bachelors Degree in Computer Science. I take my coffee black and enjoy a morning run, while I spend my free time playing soccer, ping pong and hanging with the people I love. I I am always ready to take on a challenge and present a product of the finest.
      
      ### Work
      Developer Intern @ [Carrot Creative](//carrot.is)

      ### Langauges
        - [CoffeeScript](//coffeescript.org), [JavaScript](//ecmascript.org)
        - [Stylus](//learnboost.github.io/stylus), [CSS](//w3.org/Style/CSS)
        - [Jade](//jade-lang.com), [HTML](//whatwg.org/specs/web-apps/current-work/multipage)
        - [Go](//golang.org)
        - [Java](//http://docs.oracle.com/javase)
        
      ### Tools
        - [io.js](//iojs.org)
        - [Roots](//roots.cx) - Static site compiler
        
      ### Contact
        - Github - [hhsnopek](//github.com/hhsnopek)
        - Twitter - [hhsnopek](//twitter.com/hhsnopek)
        - Email - [hhsnopek@gmail.com](mailto:hhsnopek@gmail.com)
      
