extends layout

block content
  #about
    :marked
      ### Biography
      I'm currently studying at Carroll University for a Bachelors Degree in Computer Science. I take my coffee black, enjoy a morning run and a daily bike ride. I spend my free time playing soccer, ping pong and hanging with the people I love. I am always ready to take on a challenge and present a product of the finest calibre.

      ### Work
      Developer Intern @ [Carrot Creative](//carrot.is)

      ### Langauges
        - [CoffeeScript](//coffeescript.org), [JavaScript](//ecmascript.org)
        - [Stylus](//learnboost.github.io/stylus), [CSS](//w3.org/Style/CSS)
        - [Jade](//jade-lang.com), [HTML](//whatwg.org/specs/web-apps/current-work/multipage)
        - [Go](//golang.org)
        - [Java](//http://docs.oracle.com/javase)

      ### Tools
        - [io.js](//iojs.org)
        - [Roots](//roots.cx) - Static site compiler

      ### Contact
        - Github - [hhsnopek](//github.com/hhsnopek)
        - Twitter - [hhsnopek](//twitter.com/hhsnopek)
        - Email - [hhsnopek@gmail.com](mailto:hhsnopek@gmail.com)
