doctype html
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='author', content=author)
    meta(name='description', content=description)
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="google-site-verification", content="ddVfu-kEz2L5QYZeY5FsVPWe7IBLm-Upcxb97OSolwc")
    title= title
    link(rel='stylesheet', href='/css/master.css')

  body
    include ./header
    
    #blog-post
      block content
