header
  a(href="/")
    img(src='/img/profile.png')
      
  h1 Henry Snopek
  h2 Web Developer, Programmer and University Student

nav
  ul
    li: a(href="/projects") Projects
    li: a(href="/blog") Blog
    li: a(href="/about") About
