extends layout

block content

  mixin blogItem(name, link, date, summary)
    ul.item
      li: h2.title: a(href="/#"+link)= name
      li: time.date:= date
      li: p.summary:= summary

  mixin post(name, link, date, content)
    div(id=link).post
      h2.title= name
      time.date= date
      #content
        != content
      .share-button

  .sidebar
    #profile
      h1#name: a(href='/') Henry Snopek
      img(src='/img/profile.jpg')#pic
      #location
        include ../assets/img/location.svg
        h3 Waukesha, WI
      p#short Web Developer, Programmer, & University Student
      p#job Developer Intern @
        a(href='//carrot.is/creative')  Carrot Creative
      ul#media
        li: a(href='//plus.google.com/108972071032975834000?prsrc=3')#g
          include ../assets/img/icon-g+.svg
        li: a(href='//facebook.com/henrysnopek')#fb
          include ../assets/img/icon-fb.svg
        li: a(href='//twitter.com/HHSnopek')#t
          include ../assets/img/icon-twitter.svg
        li: a(href='//github.com/HHSnopek')#gh
          include ../assets/img/icon-gh.svg
        li: a(href='//linkedin.com/in/hhsnopek/')#ln
          include ../assets/img/icon-ln.svg

  .main
    #container
      #Blog
        ul#list
          each post in site.posts
            +blogItem(post.title, post.link, post.date, post.summary)
        each post in site.posts
          +post(post.title, post.link, post.date, post.content)
