h2 Henry
h1 Snopek
nav#menu
  ul
    li
      a(href='#', onclick='divDisplay(2);') Biography
    li#subNavUnderline
      | MARKETABILITY
      b :
    li
      a(href='#', onclick='divDisplay(3);') Resume
    li
      a(href='#', onclick='divDisplay(4);') Career Aspirations
section#Display2.container
  article
    h3 Biography
    span(style='left: auto; padding-right: 10px;')
      img(src='img/BP1.png', alt='Picture of Henry Snopek')
    p
      | I am Henry Snopek, the developer of this site. I currently go to school at Waukesha North High School in Waukesha, Wisconsin. My college choice is Carroll University, and I am planing on studying Information Technology with an emphasis in Network Administration. During my free time I am learning about hacking, White Hat style. My career goal is to work for the Government or for a Private Corporation. On my path I plan on gaining multiple certifications in the networking field. Through out my week I help multiple people with computer questions and issues. As always I give them the best solution, even if it takes a while to find. I also study for my CCNA exam that I hopefully will being taking February. Wish me luck!
section#Display3.container
  article
    h3 Resume
    h5 GOAL - Short Term
    p
      span.pSmall
        | I would like to continue to obtain knowledge in the Information Technology area to further my education in Networking and Security.
      | I have worked with counselors and mentors on an educational blueprint to prepare myself for college.
    h5 GOAL - Long Term
    p
      span.pSmall
        | I would like to get a Bachelor of Science Degree in Information Technology, Network Administration.
      | Become an Impact player for a Business that offers challenges and opportunities to learn and grow.
    table
      th Education
      tr
        td
          ul
            li Waukesha North High School
            li Waukesha, Wisconsin
            li Graduation: May 2013
        td
          ul
            li General Studies
            li College Prep Classes
            li Honors Roll 2 Semesters
            li GPA 3.3
    table
      th Professional Experience
      tr
        td
          ul
            li November 2011 - January 2012
            li Sales Associate
        td
          ul
            li Best Buy - Delafield, Wisconsin
            li Sales Associate (Seasonal Assistance)
            li Assisted Customers with Product Advice and Differentiation
            li Responsible for Checkout and Processing of Orders
            li Learned Point of Sale System for Best Buy
            li Interacted with Geek Squad at Best Buy
      tr
        td
          ul
            li November 2012 - Present
            li Electronics Team Member
        td
          ul
            li Target - Waukesha, Wisconsin
            li Electronics Team Member
            li Assist Guests with Product Advice and Differentiation
            li Responsible for Checkout, Attaining Products for Guest, and Team Member tasks
            li Use Variations of Point of Sale System for Target
    table
      th Qualifications
      tr
        td
          ul
            li Team Player and Excellent Social Skills
            li Member of 4 Time State Championship Marching Band
            li Write Music for Drum Section of the Marching Band
            li Varsity Soccer 3 of 4 Years
            li Time Management - Band, Sports, Work, and School
          ul
            li Working on Cisco Certified Network Associate (CCNA)
            li Working on Certified Ethical Hacker (CEHv7)
            li Knowledgeable on TCP/IP Suite and LAN Basics
            li Attend Cisco Online Training Sessions
          ul
            li Working on Security Awareness - Industry
            li Usage with Penetesting Tools - BackTrack 5 r3, Back Box, BlackBuntu
            li
              | Proficient in Microsoft Office Suite, OS X Office Suite, LibreOffice Suite, and OpenOffice Suite
    h5 References
    ul
      li Available Upon Request
section#Display4.container
  article
    h3 Career Aspirations
    h5 Network Security
    p
      | Network Security is my main goal I will achieve. Making sure that people around the world are safe and secure when accessing private information, sending e-mails, etc.
    h5 Network Administration
    p
      | As I pursue network security, I will be taking the challenge to be a Network Admin. This will allow me to grow my experience and knowledge.
    h5 CCNA Certification
    p
      | Cisco Certified Network Associate certification is an achievement I am working towards right now.
    h5 CEH v7 Certification
    p
      | Certified Ethical hacker v7 certification is something that means a lot to me. This certification is on my to do list.
section#Display5.container
  article
    h3 Contact
    p(style='text-align: justify;')
      | If you would like to contact me for any opportunites that would pertain to a job or technology service. Call me, E-mail me, or use a social network to reach me. Just Scan the QR code below
    img(src='img/skynoizeQR.png')
script(src="lodash.custom.js")
script(src="js/components/backbone.js")