extends layout

block content

  mixin blogItem(name, link, date, summary)
    ul.item
      li: h2.title: a(href="/#"+link)= name
      li: time.date:= date
      li: p.summary:= summary

  mixin post(name, link, date, content)
    div(id=link itemscope itemprop='http://schema.org/BlogPosting').post
      h2.title(itemprop='name')= name
      time.date(itemprop='datePublished')= date
      #content(itemprop='articleBody')
        != content
      .share-button

  .sidebar
    #profile(itemscope itemprop='http://schema.org/Person')
      h1#name(itemprop='name'): a(href='/') Henry Snopek
      img(src='/img/profile.jpg' itemprop='image')#pic
      #location
        include ../assets/img/location.svg
        h3(itemprop='workLocation') Waukesha, WI
      p#short(itemprop='description') Web Developer, Programmer, & University Student
      p#job
        span(itemprop='jobTitle') Developer Intern
        span  @
        a(href='//carrot.is/creative')  Carrot Creative
      ul#media
        li: a(href='//plus.google.com/108972071032975834000?rel=author')#g
          include ../assets/img/icon-g+.svg
        li: a(href='//facebook.com/henrysnopek')#fb
          include ../assets/img/icon-fb.svg
        li: a(href='//twitter.com/HHSnopek')#t
          include ../assets/img/icon-twitter.svg
        li: a(href='//github.com/HHSnopek')#gh
          include ../assets/img/icon-gh.svg
        li: a(href='//linkedin.com/in/hhsnopek/')#ln
          include ../assets/img/icon-ln.svg

  .main
    #container
      #Blog(itemscope itemprop='http://schema.org/Blog')
        ul#list
          ul.item
            li: h2.title: a(href="/#about") About
            li: p.summary
              | I currently attend Carroll University for a Bachelors Degree in Computer Science. I take my coffee black and enjoy a morning run...

          - for post in sort(site.posts, {by: 'date'})
            if (post._render == false)
              continue
            else
              +blogItem(post.title, post.link, post.date, post.summary)

        #about.post
          h2.title About
          #content
            p I currently attend Carroll University for a Bachelors Degree in Computer Science. I take my coffee black and enjoy a morning run, while I spend my free time playing soccer, ping pong and hanging with the people I love. Always ready to take a challenge and present a product of the finest, I develop for the future.

            h3 Langauges:
            ul#langs
              li: a(href='http://coffeescript.org/') Coffeescript
                span ,
                a(href='http://www.ecmascript.org/')  Javascript
              li: a(href='http://learnboost.github.io/stylus/') Stylus
                span ,
                a(href='http://www.w3.org/Style/CSS/')  Css
              li: a(href='http://jade-lang.com/') Jade
                span ,
                a(href='http://www.whatwg.org/specs/web-apps/current-work/multipage/')  Html
              li: a(href='http://nodejs.org/') Node.js

            h3 Work History
            ul#work
              li
                .job Carroll University - IT Help Desk
                .desc - Assist students & faculty with computer problems.
              li
                .job Target - Electronics/Presentation Team Member
                .desc - Assist Guest with product advice and differentiation.
                .desc - Set up aisles for new product.
              li
                .job Best Buy - Personal Electronics Retailer
                .desc - Sell products (mp3, car electronics, cameras & camcorders).

        each post in site.posts
          if (post._render == false)
            continue
          else
            +post(post.title, post.link, post.date, post.content)
