extends layout

block content
  #holo
    .spinner
      .inner
        .inner2

    .info
      .age: span age -
        span.val 21
      .height: span 5' 10" -

  #content
    h1 Henry Snopek
    h2 Web Developer, Programmer & Coffee Enthusiast
    p With a cup of coffee in hand, I'll take on any challenge.

    nav: ul
      li: a(href='//medium.com/@hhsnopek') Blog
      li: a(href='//github.com/hhsnopek') Github
      li: a(href='//twitter.com/hhsnopek') Twitter
      li: a(href='//instagram.com/snowpecker') Instagram
