extends layout

block content
  ul#blog-list
    each post in sort(site.blog, {by: 'date'})
      - if (post._render !== undefined) continue
        li.post
          a(href= post._url): h3= post.title
          date= humanDate(post.date)
          p.summary= post.summary
