#container
  article#about
    span
      img(src='/img/BP1.png', alt='Picture of Henry Snopek')#img
    #media
      ul
        li
          a(href='//plus.google.com/108972071032975834000?prsrc=3')
            img(src='/img/gplus-32.png').img
        li
          a(href='//facebook.com/henrysnopek')
            img(src='/img/facebook29.png').img
        li
          a(href='//twitter.com/HHSnopek')
            img(src='/img/twitter.png').img
      ul
        li
          a(href='//github.com/HHSnopek')
            img(src='/img/githubMark.svg').img
        li
          a(href='//linkedin.com/in/hhsnopek/')
            img(src='/img/linkedinLogo.svg').img
    p
      | Henry Snopek
    p
      | Back-End Web Developer & Web Designer
  #contact
    ul
      li
        a(href="mailto:hhsnopek@gmail.com")#email hhsnopek@gmail.com
      li
        a(href="tel:12629230261")#phone (262) 923-0261

#projects
  ul
    li
      a(href='http://roots.cx/')
        img(src='/img/roots.svg').img
      a(href='http://roots.cx/').link roots
      p.description A toolbox for building simple, beautiful, and efficient products for the web.
    li
      a(href='https://github.com/dc414/SNMP_Scanner')
        img(src='/img/wifi.svg')#wifi.img
      a(href='https://github.com/dc414/SNMP_Scanner').link SNMP Scanner
      p.description Scan some ip addresses... maybe you'll find something.
  ul
    li
      a(href='http://java-exploit.com')
        img(src='/img/coffee.svg').img
      a(href='http://java-exploit.com').link Java-Exploit
      p.description Too many exploits are occuring with Java; sit back with some coffee and never miss one again.
    li
      a(href='http://slideshowforglass.com')
        img(src='/img/Google-Glass-Logo.jpg').img
      a(href='http://slideshowforglass.com').link Slideshow for Glass
      p.description View notes on your Glass, change a couple slides, always get an applause.
