#container
  article#about
    span
      img(src='/img/BP1.png', alt='Picture of Henry Snopek')
    ul
      li
        a(href='//plus.google.com/108972071032975834000?prsrc=3')
          img(src='/img/gplus-32.png')#g-img
        a(href='//plus.google.com/108972071032975834000?prsrc=3')#g Google +
      li
        a(href='https://twitter.com/HHSnopek')
          img(src='/img/twitter.png')#twitter-img
        a(href='https://twitter.com/HHSnopek')#twitter Twitter
    ul
      li
        a(href='https://github.com/HHSnopek')
          img(src='/img/GitHubMark32.png')#github-img
        a(href='https://github.com/HHSnopek')#github GitHub
      li
        a(href='https://www.facebook.com/henrysnopek')
          img(src='/img/facebook29.png')#fb-img
        a(href='https://www.facebook.com/henrysnopek')#fb Facebook
    p
      | Hello, I am Henry Snopek. I attend Carroll University, majoring in computer science. I run Ubuntu+1, I am a major Google Fan, and might have Ubuntu-Touch flashed... I'm working on multiple projects currently, check them out!

  nav
    ul
      li
        a(href='#blog')#blog-link Blog
      li
        a(href='#projects')#projects-link Projects

#blog

#projects
  ul
    li
      a(href='http://slideshowforglass.com')
        img(src='/img/Google-Glass-Logo.jpg')#sfg-img
      a(href='http://slideshowforglass.com')#sfg Slideshow for Glass
      p#description View notes on your Glass, change a couple slides, always get an applause.
    li
      a(href='http://java-exploit.com')
        img(src='/img/java-exploit.ico')#je-img
      a(href='http://java-exploit.com')#je Java-Exploit
      p#description Too many exploits are occuring with Java; sit back with some coffee and never miss one again.
    li
      a(href='http://roots.cx/')
        img(src='/img/circle-logo.svg')#roots-img
      a(href='http://roots.cx/')#roots roots
      p#description A toolbox for building simple, beautiful, and efficient products for the web.
    li
      a(href='https://github.com/dc414/SNMP_Scanner')
        img(src='/img/wifi.svg')#snmp-img
      a(href='https://github.com/dc414/SNMP_Scanner')#snmp SNMP Scanner
      p#description Scan some ip addresses... maybe you'll find something.
