extends layout

block content
  #projects-list
    :markdown
      - **[Github Notifications][0]** - A tray application built with io.js to notify you of new Github notifications.
      - **Elizabeth Arden Fragrances Tumblrs** for *[Taylor Swift][1]*, *[Nicki Minaj][2]*, and *[Justin Bieber][3]* with [Carrot][4].
      - **[Knobloch Plumbing][5]** - A family owned plumbing company website built with [Roots][6].
      - **[Olemca Switched On][7]** - A journey through electronic music, built at [Carrot][4].
      - **[10kft-Stopwatch][8]** - A chrome extension for [10000ft.com][9], built at [Carrot][4].

      [0]: //github.com/hhsnopek/github-notifications
      [1]: //teamtaylorswiftfragrances.tumblr.com
      [2]: //nickiminajfragrances.tumblr.com
      [3]: //justinbieberfragrances.tumblr.com
      [4]: //carrot.is
      [5]: //github.com/hhsnopek/knoblochplumbing
      [6]: //roots.cx
      [7]: //olmecaswtichedon.com
      [8]: //github.com/carrot/10k-stopwatch
      [9]: //1000ft.com
