extends layout

block content
  #projects-list
    :marked
      - **[Github Notifications][0]** - A tray application built with [io.js][0].
      - **Elizabeth Arden Fragrances Tumblrs** for _[Taylor Swift][1]_, _[Nicki Minaj][2]_, and _[Justin Bieber][3]_ with [Carrot][4].
      - **[Knobloch Plumbing][5]** - A family owned plumbing company website built with [Roots][6].
      - **[Olemca Switched On][7]** - A journey through electronic music, built at [Carrot][4].
      - **[10kft-Stopwatch][8]** - A chrome extension for [10000ft.com][9], built at [Carrot][4].

      [0]: //iojs.org
      [1]: //teamtaylorswiftfragrances.tumblr.com
      [2]: //nickiminajfragrances.tumblr.com
      [3]: //justinbieberfragrances.tumblr.com
      [4]: //carrot.is
      [5]: //github.com/hhsnopek/knoblochplumbing
      [6]: //roots.cx
      [7]: //olmecaswitchedon.com
      [8]: //github.com/carrot/10k-stopwatch
      [9]: //1000ft.com
