normalize()

grey = #333
green = #66cc33
white = #fff
black = #000

@import url('http://fonts.googleapis.com/css?family=Noto+Sans:400,700')

*
  margin 0
  padding 0

html, body
  width 100%
  height 100%

body
  font-family 'Noto Sans', sans-serif
  color black
  background-color white

.img
  width 32px
  text-decoration none
  rounded()

.link, #blog a
  reset-link()
  color white
  border-bottom green 1px solid
  &:hover
    color green
    border-bottom white 1px solid


header
  text-align center
  color white
  bg('/img/background.jpeg', no-repeat center center fixed)
  background-size cover
  width 100%
  overflow hidden
  height 80%

  #inner-container
    position relative
    background-color rgba(0,0,0, .35)
    height 100%
    width 100%
    border-bottom 3px solid black
    font-weight 700

    h1
      padding-top 120px
      font-size 45px
      margin 0
    h3
      font-size 23px

    #navbar
      margin-right 50px
      text-align right
      color white
      li
        padding-top 48px
        font-size 16px
        display inline-block
        &:last-child
          margin-left 20px
    #name
      position absolute
      left 50px
      padding-top 40px
      a
        reset-link()
        color white
        font-size 32px

    #media
      position absolute
      bottom 0
      right 50px
      li
        margin 5px
        display inline-block
        
        svg
          display block
          width 32px
          height 32px
        #g:hover g > *
          fill #FF3333
        #fb:hover svg > *
          fill #3B5998
        #t:hover svg > *
          fill #33CCFF
        #gh:hover svg > *
          fill #666
        #ln:hover g > *
          fill #4875B4  

#projects
  width 60%
  margin 100px 20% 0 20%
  padding-bottom 100px

  h1
    text-align center
    margin-bottom 2em

  li
    list-style none
    margin 2em
    &:last-child
      margin-top 10px
  
  .img
    width 48px
    margin-bottom -1em
    rounded()
    &:nth-child(4)
      border 3px solid lighten(grey, 70)
  .link
    font-size 24px
    margin 1em 2em 1em 1em
  .description
    margin-top 2em
    margin-left 5em
    color black

  .link
    padding 3px
    color black
    border-bottom 1px solid green
    &:hover
      color green
      border-bottom 1px solid black

#blog
  border-top 5px solid grey
  border-bottom 5px solid black
  background-color #272727
  color white

  h1
    text-align center

  li
    list-style none
    width 60%
    margin 100px 20% 100px 20%
    h2
      border-left 5px solid green
      padding-left 1em
    h3
      margin 1em
    p
      margin-left 2em
      margin-right 2em
      font-weight 400
    hr
      margin 10px 0 10px 0
    pre
      padding 1em 3em 1em 1em
      margin 1em 3em 1em 1em
      background-color grey
      color white
    .gallery
        text-align center
      div
        text-align center
        font-size 16px
        font-weight 400
        margin 2em 0 0 0
      img
        display inline
        width 100%
        max-width 500px
        margin 1em 0 1em 0

  #blognav
    background-color grey
    display flex
    flex-flow row wrap
    justify-content space-around
    li
      width auto
      margin 10px

  .active
    background-color rgba(0, 0, 0, 0) !important
    display block !important
    position fixed
    top 10px
    left 10px
    border-left 2px solid blue

    li
      width 50% !important
      margin 5px 0 0 0 !important
      padding-left 5px
      padding-bottom 5px

    #projLink
      padding-bottom 10px
      border-bottom 1px solid blue


@media screen and (max-width: 750px)
  #projects
    margin-left 10%
    width 80%

@media screen and (max-width: 700px)
  *
    overflow-x hidden
  #inner-container
    #navbar
      padding-top 40px
    h1
      padding-top 90px !important

  #projects
    width 100%
    margin-left 0
    .link
      font-size 16px

  #blog
    li
      width 100%
      margin 100px 0 100px 0

@media screen and (max-width: 555px)
  #inner-container
    #name
      position relative !important
      left 0 !important
      padding-top 10px
      padding-bottom
    #navbar
      text-align center !important
      margin-right 0 !important
      padding-top 0
      margin-top -10px

    h1
      padding-top 20px !important

    #media
      position relative !important
      right 0 !important
      padding-top 30px

  #projects
    margin-top 0
