article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: 'Bitstream Vera Sans Mono', Consolas, Courier, monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@import url("http://fonts.googleapis.com/css?family=Noto+Sans:400,700");
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Noto Sans', sans-serif;
  color: #000;
  background-color: #fff;
}
.img {
  width: 32px;
  text-decoration: none;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -o-border-radius: 999px;
  -ms-border-radius: 999px;
  border-radius: 999px;
}
.link,
#blog a {
  color: inherit;
  border: none;
  text-decoration: none;
  color: #fff;
  border-bottom: #6c3 1px solid;
}
.link:hover,
#blog a:hover {
  color: inherit;
  border: none;
  text-decoration: none;
}
.link:visited,
#blog a:visited {
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.link:hover,
#blog a:hover {
  color: #6c3;
  border-bottom: #fff 1px solid;
}
header {
  text-align: center;
  color: #fff;
  background: url("/img/background.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  height: 80%;
}
header #inner-container {
  position: relative;
  background-color: rgba(0,0,0,0.35);
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #000;
  font-weight: 700;
}
header #inner-container h1 {
  padding-top: 120px;
  font-size: 45px;
  margin: 0;
}
header #inner-container h3 {
  font-size: 23px;
}
header #inner-container #navbar {
  margin-right: 50px;
  text-align: right;
  color: #fff;
}
header #inner-container #navbar li {
  padding-top: 48px;
  font-size: 16px;
  display: inline-block;
}
header #inner-container #navbar li:last-child {
  margin-left: 20px;
}
header #inner-container #name {
  position: absolute;
  left: 50px;
  padding-top: 40px;
}
header #inner-container #name a {
  color: inherit;
  border: none;
  text-decoration: none;
  color: #fff;
  font-size: 32px;
}
header #inner-container #name a:hover {
  color: inherit;
  border: none;
  text-decoration: none;
}
header #inner-container #name a:visited {
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
header #inner-container #media {
  position: absolute;
  bottom: 0;
  right: 50px;
}
header #inner-container #media li {
  margin: 5px;
  display: inline-block;
}
header #inner-container #media li svg {
  display: block;
  width: 32px;
  height: 32px;
}
header #inner-container #media li #g:hover g > * {
  fill: #f33;
}
header #inner-container #media li #fb:hover svg > * {
  fill: #3b5998;
}
header #inner-container #media li #t:hover svg > * {
  fill: #3cf;
}
header #inner-container #media li #gh:hover svg > * {
  fill: #666;
}
header #inner-container #media li #ln:hover g > * {
  fill: #4875b4;
}
#projects {
  width: 60%;
  margin: 100px 20% 0 20%;
  padding-bottom: 100px;
}
#projects h1 {
  text-align: center;
  margin-bottom: 2em;
}
#projects li {
  list-style: none;
  margin: 2em;
}
#projects li:last-child {
  margin-top: 10px;
}
#projects .img {
  width: 48px;
  margin-bottom: -1em;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -o-border-radius: 999px;
  -ms-border-radius: 999px;
  border-radius: 999px;
}
#projects .img:nth-child(4) {
  border: 3px solid #e6e6e6;
}
#projects .link {
  font-size: 24px;
  margin: 1em 2em 1em 1em;
}
#projects .description {
  margin-top: 2em;
  margin-left: 5em;
  color: #000;
}
#projects .link {
  padding: 3px;
  color: #000;
  border-bottom: 1px solid #6c3;
}
#projects .link:hover {
  color: #6c3;
  border-bottom: 1px solid #000;
}
#blog {
  border-top: 5px solid #333;
  border-bottom: 5px solid #000;
  background-color: #272727;
  color: #fff;
}
#blog h1 {
  text-align: center;
}
#blog li {
  list-style: none;
  width: 60%;
  margin: 100px 20% 100px 20%;
}
#blog li h2 {
  border-left: 5px solid #6c3;
  padding-left: 1em;
}
#blog li h3 {
  margin: 1em;
}
#blog li p {
  margin-left: 2em;
  margin-right: 2em;
  font-weight: 400;
}
#blog li hr {
  margin: 10px 0 10px 0;
}
#blog li pre {
  padding: 1em 3em 1em 1em;
  margin: 1em 3em 1em 1em;
  background-color: #333;
  color: #fff;
}
#blog li .gallery {
  text-align: center;
}
#blog li div {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin: 2em 0 0 0;
}
#blog li img {
  display: inline;
  width: 100%;
  max-width: 500px;
  margin: 1em 0 1em 0;
}
@media screen and (max-width: 750px) {
  #projects {
    margin-left: 10%;
    width: 80%;
  }
}
@media screen and (max-width: 700px) {
  * {
    overflow-x: hidden;
  }
  #inner-container #navbar {
    padding-top: 40px;
  }
  #inner-container h1 {
    padding-top: 90px !important;
  }
  #projects {
    width: 100%;
    margin-left: 0;
  }
  #projects .link {
    font-size: 16px;
  }
  #blog li {
    width: 100%;
    margin: 100px 0 100px 0;
  }
}
@media screen and (max-width: 555px) {
  #inner-container #name {
    position: relative !important;
    left: 0 !important;
    padding-top: 10px;
padding-bottom
  }
  #inner-container #navbar {
    text-align: center !important;
    margin-right: 0 !important;
    padding-top: 0;
    margin-top: -10px;
  }
  #inner-container h1 {
    padding-top: 20px !important;
  }
  #inner-container #media {
    position: relative !important;
    right: 0 !important;
    padding-top: 30px;
  }
  #projects {
    margin-top: 0;
  }
}
