#about
  display block
  padding-bottom 2em

  #langs
    span
      color black

  .job
    list-style circle
    margin-top 1em

  .desc
    list-style none
    font-size .95em

  .share-button
    display none !important
