#blog-list
  padding: 0
  
  li
    list-style: none

  .post
    margin: 1.5em 0

    h3
      margin: .5em 0

    date
      display: inline
      padding-right: .25em
      color: light-gray

    .summary
      display: inline
      color: gray
