@import _settings

headers()
text-selection()
lists()

.date
  color lighten(grey, 30)

a
  text-decoration none
  transition color .25s ease-in-out
  color blue
a:hover
  color #34495e

p
  paragraph()

blockquote
  blockquo()

code
  padding 0 .25em 0 .25em
  background-color #F5F5F5
  border 1px solid #E1E1E8
  border-radius 3px

pre
  $pre()
  code
    background-color inherit
    padding 0
    border 0
    border-radius 0


*
  margin 0
  padding 0
  box-sizing border-box

html, body
  width 100%
  height 100%

body
  color grey

  .sidebar
    height 100%
    span(1/4)

    *
      font-family 'Born' sans-serif
      font-weight 400
      color grey

    #profile
      margin 0 unit(font-size*.5, px) 0 unit(font-size*.5, px)
      text-align center

    #name
      margin-top 0
      a
        font-weight 700
      a:hover
        color blue

    #pic
      width 200px
      height 200px
      border-radius 100px

    #location
      h3
        margin-bottom 0
      *
        display inline-block
        vertical-align center

      svg
        width 32px
        height 32px
        margin-bottom -8px
      svg g > *, svg > *
        fill #ff3333

    #short
      display block
      font-size 1.15em

    #media
      li
        margin 5px
        inline-block()

        svg
          display block
          width 32px
          height 32px
        svg g > *, svg > *
          fill grey
          transition fill .25s ease-in-out

      li:hover
        svg
          *
            fill light-blue


    +above(1150px)
      span(1/4)


    +between(800px, 1150px)
      span(1/3)

    +above(800px)
      display table
      #profile
        display table-cell
        vertical-align middle

    +below(800px)
      stack()
      height auto
      padding-top 1.25em
      padding-bottom 1.25em


  .main
    background-color #fff
    height 100%
    box-shadow inset 2px 0px 5px -2px #888
    overflow-y scroll
    font-family 'Aileron' sans-serif
    font-weight 400

    #container
      padding-bottom 5%
      center(80%)
      img
        max-width 100%


      #Blog
        .item
          reset-list()
        .post
          display none
          #content
            font-weight 300
            li
              margin-left 2.5em
        .share-button
          padding-top 4em
          margin-bottom 2em
        .title
          margin-bottom 0

    +above(1150px)
      span(3/4)

    +between(800px, 1150px)
      span(2/3)

    +below(800px)
      stack()
      overflow-y visible
      border-top 2px solid lighten(grey, 50)

  +below(800px)
    height auto
