normalize()

@import url('http://fonts.googleapis.com/css?family=Noto+Sans:400,700')
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300')

grey = #333
blue = #A0E3FC
green = #66cc33
black = #000
white = #fff
yellow = #ffd500
brown = #97694F
light-brown = #C28F72
dark-brown = #654635
bodyColor = brown
eyeColor = brown
pupilColor = brown
legColor = brown
footColor = brown
featherColor = light-brown

bodyHeight = 1.25em
bodyWidth = bodyHeight
bodyBorder = (bodyHeight/10)

*
  margin 0
  padding 0

html, body
  width 100%
  height 100%

body
  font-family 'Noto Sans', sans-serif
  color grey
  #index
    overflow-y hidden
    background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #DBFCFC 20%, #A0E3FC 60%, #4C99B5 100%);
    background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #DBFCFC 20%, #A0E3FC 60%, #4C99B5 100%);
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #DBFCFC 20%, #A0E3FC 60%, #4C99B5 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(0.2, #DBFCFC), color-stop(0.6, #A0E3FC), color-stop(1, #4C99B5));

    // starry night
    &:before
      content ""
      background-color transparent
      position absolute
      border-radius 3px
      top 50%
      left 50%
      margin-top -2px
      margin-left -2px
      width 4px
      height 4px
      z-index 10
      box-shadow 80px 140px white, -120px -60px white, 70px -40px white, 300px 90px white, 100px -80px white, -220px 60px white, 320px 120px white, -410px 90px white, -20px 220px white, 120px -220px white, 70px -445px white, 400px -360px white, -500px -250px white, -190px -220px white, 480px -150px white, -350px -400px white, 550px -420px white, -75px -370px white



#index, #About, #Blog, #Projects
  display none
  color grey

#Blog
  .post
    display none

#Projects
  .project
    display none

/*
  navigation
*/
#navbar
  position absolute
  top 3em
  right 10%
  ul
    display inline-block
    opacity 0
    -webkit-transition: all .5s ease-in;
    -moz-transition:    all .5s ease-in;
    -o-transition:      all .5s ease-in;
    transition:         all .5s ease-in;
  ul.activeMenu
    opacity 1
  li
    font-size 1.25em
    display inline-block
    margin-left .5em
    margin-right .5em
    a
      reset-link()
  li:hover
    a
      border-bottom 3px solid white


/*
  navigation icon
*/
#navnook
    display inline-block
    margin-bottom -23px
    width 35px
    height 30px
    padding-top 10px
  #navicon
    display inline-block
    margin-bottom -23px
    width 30px
    height 30px

    .bar
      width 35px
      height 3px
      background-color grey
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);

    .bar:nth-of-type(2)
      margin-top -20px

    .bar:nth-of-type(3)
      margin-top 32px

#navnook.active
  .bar:nth-of-type(1)
    -webkit-animation: dissappear .5s linear;
    -moz-animation:    dissappear .5s linear;
    -o-animation:      dissappear .5s linear;
    animation:         dissappear .5s linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

  .bar:nth-of-type(2)
    -webkit-animation: squishTop .5s linear;
    -moz-animation:    squishTop .5s linear;
    -o-animation:      squishTop .5s linear;
    animation:         squishTop .5s linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

  .bar:nth-of-type(3)
    -webkit-animation: squishBottom .5s linear;
    -moz-animation:    squishBottom .5s linear;
    -o-animation:      squishBottom .5s linear;
    animation:         squishBottom .5s linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

#navnook.inactive
  .bar:nth-of-type(1)
    -webkit-animation: dissappearRev .5s linear;
    -moz-animation:    dissappearRev .5s linear;
    -o-animation:      dissappearRev .5s linear;
    animation:         dissappearRev .5s linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

  .bar:nth-of-type(2)
    -webkit-animation: squishTopRev .5s linear;
    -moz-animation:    squishTopRev .5s linear;
    -o-animation:      squishTopRev .5s linear;
    animation:         squishTopRev .5s linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

  .bar:nth-of-type(3)
    -webkit-animation: squishBottomRev .5s linear;
    -moz-animation:    squishBottomRev .5s linear;
    -o-animation:      squishBottomRev .5s linear;
    animation:         squishBottomRev .5s linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;


/*
  owl
*/
#owlContainer
  font-size 3.5em
  text-align center
  color white
  #name
    top 1.28em
    position relative
    z-index 0
    font-family 'Open Sans', sans-serif
    font-weight 300

#owl
  position absolute
  left 50%
  top 3em
  margin-left -(bodyWidth/2)
  -webkit-animation 10s linear owlMotion forwards
  -moz-animation 10s linear owlMotion forwards
  -o-animation 10s linear owlMotion forwards
  animation 10s linear owlMotion forwards
  #body
    position relative
    z-index -1
    height bodyHeight
    width bodyWidth
    border bodyBorder solid bodyColor
    border-radius 50px 50px 5px
    -webkit-transform rotate(45deg)
    -moz-transform rotate(45deg)
    -o-transform rotate(45deg)
    transform rotate(45deg)

  /*
    Eyes
  */
  .eye
    width (bodyHeight/4)
    height (bodyWidth/4)
    border (bodyBorder/2) solid eyeColor
    border-radius 2em

  .pupil
    height (bodyHeight/10)
    width (bodyWidth/10)
    background-color pupilColor
    border-radius 9999em

  #eye1
    .eye
      position absolute
      top (bodyHeight/4)
      left (bodyWidth/3.7)
    .pupil
      position absolute
      top (bodyHeight/2.5)
      left (bodyWidth/2.4)

  #eye2
    .eye
      position absolute
      top (bodyHeight/4)
      right (bodyWidth/3.7)
      border-color lighten(brown, 10)
    .pupil
      position absolute
      top (bodyHeight/2.5)
      right (bodyWidth/2.4)

  /*
    Beak
  */
  #beak
    position absolute
    top (bodyWidth/2.05)
    left (bodyWidth/1.95)
  .beak
    position relative
    z-index -1
    height (bodyHeight/8)
    width (bodyWidth/8)
    background-color grey
    border-left (bodyBorder/2) solid grey
    border-bottom (bodyBorder/2) solid grey
    -webkit-transform rotate(-45deg)
    -moz-transform rotate(-45deg)
    -o-transform rotate(-45deg)
    transform rotate(-45deg)

  .feather
    height (bodyHeight/8)
    width (bodyWidth/8)
    border-left (bodyBorder/2) solid featherColor
    border-bottom (bodyBorder/2) solid featherColor
    -webkit-transform rotate(-45deg)
    -moz-transform rotate(-45deg)
    -o-transform rotate(-45deg)
    transform rotate(-45deg)

  #row1
    .feather
      position absolute
      border-color brown
      top (bodyHeight/1.2)
      left (bodyWidth/2)

  #row2
    position relative
    z-index 2
    .feather
      border-color dark-brown
    #feather1
      position absolute
      top -(bodyHeight/2.35)
      left (bodyWidth/2.6)

    #feather2
      .feather
        position absolute
        top -(bodyHeight/2.35)
        right (bodyWidth/2.6)
      .feather
        border-color light-brown

  /*
    Legs & toes
  */
  #legs
    .joint, .toe, .leg
      position relative
      height (bodyHeight/8)
      width (bodyWidth/20)
      background-color #ffcc33
      border-radius 1em
      z-index -1
      animation 10s linear legMotion forwards
    .leg
      height (bodyHeight/4)
    .joint
      background-color #ffee00
    .toe
      background-color #ffee00

    #left
      position absolute
      top 1.3em
      left .5em
      .leg
        -webkit-transform rotate(45deg)
        -moz-transform rotate(45deg)
        -o-transform rotate(45deg)
        transform rotate(45deg)
      #lefttoe
        position absolute
        top .25em
        left -.15em
        .joint
          -webkit-transform rotate(30deg)
          -moz-transform rotate(30deg)
          -o-transform rotate(30deg)
          transform rotate(30deg)
        .toe
          -webkit-transform rotate(-5deg)
          -moz-transform rotate(-5deg)
          -o-transform rotate(-5deg)
          transform rotate(-5deg)
          margin-top -.04em
          margin-left -.03em
      #middletoe
        position absolute
        top .27em
        left -.075em
        .joint
          -webkit-transform rotate(0deg)
          -moz-transform rotate(0deg)
          -o-transform rotate(0deg)
          transform rotate(0deg)
        .toe
          margin-top -.04em
          -webkit-transform rotate(-10deg)
          -moz-transform rotate(-10deg)
          -o-transform rotate(-10deg)
          transform rotate(-10deg)
      #righttoe
        position absolute
        top .24em
        left -0.01em
        .joint
          -webkit-transform rotate(-30deg)
          -moz-transform rotate(-30deg)
          -o-transform rotate(-30deg)
          transform rotate(-30deg)
        .toe
          margin-top -.03em
          margin-left .03em
          -webkit-transform rotate(3deg)
          -moz-transform rotate(3deg)
          -o-transform rotate(3deg)
          transform rotate(3deg)

    #right
      position absolute
      top 1.3em
      right .5em
      .leg
        -webkit-transform rotate(-45deg)
        -moz-transform rotate(-45deg)
        -o-transform rotate(-45deg)
        transform rotate(-45deg)
      #lefttoe
        position absolute
        top .24em
        right -.18em
        .joint
          -webkit-transform rotate(-35deg)
          -moz-transform rotate(-35deg)
          -o-transform rotate(-35deg)
          transform rotate(-35deg)
        .toe
          -webkit-transform rotate(5deg)
          -moz-transform rotate(5deg)
          -o-transform rotate(5deg)
          transform rotate(5deg)
          margin-top -.04em
          margin-left .03em
      #middletoe
        position absolute
        top .27em
        right -.09em
        .joint
          -webkit-transform rotate(0deg)
          -moz-transform rotate(0deg)
          -o-transform rotate(0deg)
          transform rotate(0deg)
        .toe
          margin-top -.04em
          -webkit-transform rotate(10deg)
          -moz-transform rotate(10deg)
          -o-transform rotate(10deg)
          transform rotate(10deg)
      #righttoe
        position absolute
        top .25em
        left .02em
        .joint
          -webkit-transform rotate(30deg)
          -moz-transform rotate(30deg)
          -o-transform rotate(30deg)
          transform rotate(30deg)
        .toe
          margin-top -.03em
          margin-left -.03em
          -webkit-transform rotate(-5deg)
          -moz-transform rotate(-5deg)
          -o-transform rotate(-5deg)
          transform rotate(-5deg)


  /*
    Wings
  */
  #wings
    .folded
      position relative
      z-index -1
      height (bodyHeight/5)
      width (bodyWidth/20)
      border (bodyBorder) solid brown
      background-color brown
      -webkit-animation 10s linear foldedAppearence forwards
      -moz-animation 10s linear foldedAppearence forwards
      -o-animation 10s linear foldedAppearence fowards
      animation 10s linear foldedAppearence fowards

    #wing1
      position absolute
      top .65em
      left .12em
      .folded
        -webkit-transform rotate(-20deg)
        -moz-transform rotate(-20deg)
        -o-transform rotate(-20deg)
        transform rotate(-20deg)
        border-left none
        border-radius 100% / 50%
        border-top-left-radius 0
        border-bottom-left-radius 0

    #wing2
      position absolute
      top .65em
      right .12em
      .folded
        -webkit-transform rotate(20deg)
        -moz-transform rotate(20deg)
        -o-transform rotate(20deg)
        transform rotate(20deg)
        border-right none
        border-radius 100% / 50%
        border-top-right-radius 0
        border-bottom-right-radius 0

  #flying1, #flying2
    position absolute
    top .65em
    .wing
      position relative
      z-index -1
      height (bodyHeight/2.25)
      width (bodyWidth/1.25)
      border (bodyBorder) solid brown

  #flying2
    left -.1em
    .wing
      transform rotateZ(25deg)
      transform rotateX(0deg)
      margin-left -1em
      border-top-left-radius 1em
      border-top-right-radius .75em
      border-bottom-left-radius .25em
      border-bottom-right-radius .5em

  #flying1
    right -.1em
    .wing
      transform rotateZ(25deg)
      transform rotateX(0deg)
      margin-right -1em
      border-top-left-radius .75em
      border-top-right-radius 1em
      border-bottom-left-radius .5em
      border-bottom-right-radius .25em

#flying1, #flying2
  #feathers
    position absolute
    #feather1
      .feather
        border-color light-brown
    #feather2
      .feather
        border-color light-brown

#flying1
  #feathers
    position absolute
    top .1em
    left .15em
    .feather
      -webkit-transform rotate(-115deg)
      -moz-transform rotate(-115deg)
      -o-transform rotate(-115deg)
      transform rotate(-115deg)

#flying2
  #feathers
    position absolute
    top .1em
    right .15em
    .feather
      -webkit-transform rotate(25deg)
      -moz-transform rotate(25deg)
      -o-transform rotate(25deg)
      transform rotate(25deg)

.animateFlightLeft
  -webkit-transform rotateX(0deg) rotateY(0deg)
  -moz-transform rotateX(0deg) rotateY(0deg)
  -o-transform rotateX(0deg) rotateY(0deg)
  transform rotateX(0deg) rotateY(0deg)
  -webkit-animation 10s flightLeft linear forwards
  -moz-animation 10s flightLeft linear forwards
  -o-animation 10s flightLeft linear forwards
  animation 10s flightLeft linear forwards

.animateFlightRight
  -webkit-transform rotateX(0deg) rotateY(0deg)
  -moz-transform rotateX(0deg) rotateY(0deg)
  -o-transform rotateX(0deg) rotateY(0deg)
  transform rotateX(0deg) rotateY(0deg)
  -webkit-animation 10s flightRight linear forwards
  -moz-animation 10s flightRight linear forwards
  -o-animation 10s flightRight linear forwards
  animation 10s flightRight linear forwards


/*
  document loaded animation
*/
.loaded
  header, #name
    opacity 0
    -webkit-animation appear 10s linear forwards
    -moz-animation    appear 10s linear forwards
    -o-animation      appear 10s linear forwards
    animation         appear 10s linear forwards


/*
  Owl Flying frames
*/
@keyframes flightLeft {
  0% {
    top .65em
    right -.2em
    -webkit-transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
    -moz-transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
    -o-transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
    transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
  }
  5% {
    top .65em
    right -.2em
    -webkit-transform rotateX(180deg) rotateY(0deg) rotateZ(35deg)
    -moz-transform rotateX(180deg) rotateY(0deg) rotateZ(35deg)
    -o-transform rotateX(180deg) rotateY(0deg) rotateZ(35deg)
    transform rotateX(180deg) rotateY(0deg) rotateZ(35deg)
  }
  10% {
    top .65em
    right -.2em
    -webkit-transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
    -moz-transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
    -o-transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
    transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
  }
  15% {
    top .65em
    right -.2em
    -webkit-transform rotateX(180deg) rotateY(0deg) rotateZ(35deg)
    -moz-transform rotateX(180deg) rotateY(0deg) rotateZ(35deg)
    -o-transform rotateX(180deg) rotateY(0deg) rotateZ(35deg)
    transform rotateX(180deg) rotateY(0deg) rotateZ(35deg)
  }
  20% {
    top .65em
    right -.2em
    -webkit-transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
    -moz-transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
    -o-transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
    transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
  }
  25% {
    top .65em
    right -.2em
    -webkit-transform rotateX(180deg) rotateY(0deg) rotateZ(35deg)
    -moz-transform rotateX(180deg) rotateY(0deg) rotateZ(35deg)
    -o-transform rotateX(180deg) rotateY(0deg) rotateZ(35deg)
    transform rotateX(180deg) rotateY(0deg) rotateZ(35deg)
  }
  30%{
    top .65em
    right -.2em
    -webkit-transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
    -moz-transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
    -o-transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
    transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
  }
  35% {
    top .65em
    right -.2em
    -webkit-transform rotateX(180deg) rotateY(0deg) rotateZ(35deg)
    -moz-transform rotateX(180deg) rotateY(0deg) rotateZ(35deg)
    -o-transform rotateX(180deg) rotateY(0deg) rotateZ(35deg)
    transform rotateX(180deg) rotateY(0deg) rotateZ(35deg)
  }
  40% {
    top .65em
    right -.2em
    -webkit-transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
    -moz-transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
    -o-transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
    transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
  }
  45% {
    top .65em
    right -.2em
    -webkit-transform rotateX(180deg) rotateY(0deg) rotateZ(35deg)
    -moz-transform rotateX(180deg) rotateY(0deg) rotateZ(35deg)
    -o-transform rotateX(180deg) rotateY(0deg) rotateZ(35deg)
    transform rotateX(180deg) rotateY(0deg) rotateZ(35deg)
  }
  50% {
    top .65em
    right -.2em
    -webkit-transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
    -moz-transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
    -o-transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
    transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
  }
  55% {
    top .65em
    right -.2em
    -webkit-transform rotateX(180deg) rotateY(0deg) rotateZ(35deg)
    -moz-transform rotateX(180deg) rotateY(0deg) rotateZ(35deg)
    -o-transform rotateX(180deg) rotateY(0deg) rotateZ(35deg)
    transform rotateX(180deg) rotateY(0deg) rotateZ(35deg)
  }
  60% {
    top .65em
    right -.15em
    -webkit-transform rotateX(100deg) rotateY(0deg) rotateZ(0deg)
    -moz-transform rotateX(100deg) rotateY(0deg) rotateZ(0deg)
    -o-transform rotateX(100deg) rotateY(0deg) rotateZ(0deg)
    transform rotateX(100deg) rotateY(0deg) rotateZ(0deg)
  }
  65% {
    top .65em
    right -.15em
    -webkit-transform rotateX(0deg) rotateY(0deg) rotate(0deg)
    -moz-transform rotateX(0deg) rotateY(0deg) rotate(0deg)
    -o-transform rotateX(0deg) rotateY(0deg) rotate(0deg)
    transform rotateX(0deg) rotateY(0deg) rotate(0deg)
  }
  70% {
    top .65em
    right -.1em
    -webkit-transform rotateX(-20deg) rotateY(-70deg) rotateZ(0deg)
    -moz-transform rotateX(-20deg) rotateY(-70deg) rotateZ(0deg)
    -o-transform rotateX(-20deg) rotateY(-70deg) rotateZ(0deg)
    transform rotateX(-20deg) rotateY(-70deg) rotateZ(0deg)
  }
  75% {
    top .65em
    right -.1em
    -webkit-transform rotateX(0deg) rotateY(0deg) rotateZ(0deg)
    -moz-transform rotateX(0deg) rotateY(0deg) rotateZ(0deg)
    -o-transform rotateX(0deg) rotateY(0deg) rotateZ(0deg)
    transform rotateX(0deg) rotateY(0deg) rotateZ(0deg)
  }
  80% {
    top .65em
    right -.1em
    -webkit-transform rotateX(-20deg) rotateY(-70deg) rotateZ(0deg)
    -moz-transform rotateX(-20deg) rotateY(-70deg) rotateZ(0deg)
    -o-transform rotateX(-20deg) rotateY(-70deg) rotateZ(0deg)
    transform rotateX(-20deg) rotateY(-70deg) rotateZ(0deg)
  }
  85% {
    /* Wing rotates in */
    top .65em
    right -.1em
    -webkit-transform rotateX(0deg) rotateY(0deg) rotateZ(0deg)
    -moz-transform rotateX(0deg) rotateY(0deg) rotateZ(0deg)
    -o-transform rotateX(0deg) rotateY(0deg) rotateZ(0deg)
    transform rotateX(0deg) rotateY(0deg) rotateZ(0deg)
  }
  90% {
    /* Have folded wings appear(opacity 1) from 8-9s*/
    top .65em
    right  0em
    opacity 1
    -webkit-transform rotateX(-20deg) rotateY(-75deg) rotateZ(0deg)
    -moz-transform rotateX(-20deg) rotateY(-75deg) rotateZ(0deg)
    -o-transform rotateX(-20deg) rotateY(-75deg) rotateZ(0deg)
    transform rotateX(-20deg) rotateY(-75deg) rotateZ(0deg)
  }
  100% {
    /* Wings dissappear(opacity 0) */
    top .65em
    right .1em
    opacity 0
    -webkit-transform rotateX(-20deg) rotateY(-120deg) rotateZ(0deg)
    -moz-transform rotateX(-20deg) rotateY(-120deg) rotateZ(0deg)
    -o-transform rotateX(-20deg) rotateY(-120deg) rotateZ(0deg)
    transform rotateX(-20deg) rotateY(-120deg) rotateZ(0deg)
  }
}

@keyframes flightRight {
  0% {
    top .65em
    left -.2em
    -webkit-transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
    -moz-transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
    -o-transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
    transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
  }
  5% {
    top .65em
    left -.2em
    -webkit-transform rotateX(180deg) rotateY(0deg) rotateZ(-35deg)
    -moz-transform rotateX(180deg) rotateY(0deg) rotateZ(-35deg)
    -o-transform rotateX(180deg) rotateY(0deg) rotateZ(-35deg)
    transform rotateX(180deg) rotateY(0deg) rotateZ(-35deg)
  }
  10% {
    top .65em
    left -.2em
    -webkit-transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
    -moz-transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
    -o-transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
    transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
  }
  15% {
    top .65em
    left -.2em
    -webkit-transform rotateX(180deg) rotateY(0deg) rotateZ(-35deg)
    -moz-transform rotateX(180deg) rotateY(0deg) rotateZ(-35deg)
    -o-transform rotateX(180deg) rotateY(0deg) rotateZ(-35deg)
    transform rotateX(180deg) rotateY(0deg) rotateZ(-35deg)
  }
  20% {
    top .65em
    left -.2em
    -webkit-transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
    -moz-transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
    -o-transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
    transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
  }
  25% {
    top .65em
    left -.2em
    -webkit-transform rotateX(180deg) rotateY(0deg) rotateZ(-35deg)
    -moz-transform rotateX(180deg) rotateY(0deg) rotateZ(-35deg)
    -o-transform rotateX(180deg) rotateY(0deg) rotateZ(-35deg)
    transform rotateX(180deg) rotateY(0deg) rotateZ(-35deg)
  }
  30%{
    top .65em
    left -.2em
    -webkit-transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
    -moz-transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
    -o-transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
    transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
  }
  35% {
    top .65em
    left -.2em
    -webkit-transform rotateX(180deg) rotateY(0deg) rotateZ(-35deg)
    -moz-transform rotateX(180deg) rotateY(0deg) rotateZ(-35deg)
    -o-transform rotateX(180deg) rotateY(0deg) rotateZ(-35deg)
    transform rotateX(180deg) rotateY(0deg) rotateZ(-35deg)
  }
  40% {
    top .65em
    left -.2em
    -webkit-transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
    -moz-transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
    -o-transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
    transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
  }
  45% {
    top .65em
    left -.2em
    -webkit-transform rotateX(180deg) rotateY(0deg) rotateZ(-35deg)
    -moz-transform rotateX(180deg) rotateY(0deg) rotateZ(-35deg)
    -o-transform rotateX(180deg) rotateY(0deg) rotateZ(-35deg)
    transform rotateX(180deg) rotateY(0deg) rotateZ(-35deg)
  }
  50% {
    top .65em
    left -.2em
    -webkit-transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
    -moz-transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
    -o-transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
    transform rotateX(180deg) rotateY(0deg) rotateZ(0deg)
  }
  55% {
    top .65em
    left -.2em
    -webkit-transform rotateX(180deg) rotateY(0deg) rotateZ(-35deg)
    -moz-transform rotateX(180deg) rotateY(0deg) rotateZ(-35deg)
    -o-transform rotateX(180deg) rotateY(0deg) rotateZ(-35deg)
    transform rotateX(180deg) rotateY(0deg) rotateZ(-35deg)
  }
  60% {
    top .65em
    left -.15em
    -webkit-transform rotateX(100deg) rotateY(0deg) rotateZ(0deg)
    -moz-transform rotateX(100deg) rotateY(0deg) rotateZ(0deg)
    -o-transform rotateX(100deg) rotateY(0deg) rotateZ(0deg)
    transform rotateX(100deg) rotateY(0deg) rotateZ(0deg)
  }
  65% {
    top .65em
    left -.15em
    -webkit-transform rotateX(0deg) rotateY(0deg) rotate(0deg)
    -moz-transform rotateX(0deg) rotateY(0deg) rotate(0deg)
    -o-transform rotateX(0deg) rotateY(0deg) rotate(0deg)
    transform rotateX(0deg) rotateY(0deg) rotate(0deg)
  }
  70% {
    top .65em
    left -.1em
    -webkit-transform rotateX(20deg) rotateY(-70deg) rotateZ(0deg)
    -moz-transform rotateX(20deg) rotateY(-70deg) rotateZ(0deg)
    -o-transform rotateX(20deg) rotateY(-70deg) rotateZ(0deg)
    transform rotateX(20deg) rotateY(-70deg) rotateZ(0deg)
  }
  75% {
    top .65em
    left -.1em
    -webkit-transform rotateX(0deg) rotateY(0deg) rotateZ(0deg)
    -moz-transform rotateX(0deg) rotateY(0deg) rotateZ(0deg)
    -o-transform rotateX(0deg) rotateY(0deg) rotateZ(0deg)
    transform rotateX(0deg) rotateY(0deg) rotateZ(0deg)
  }
  80% {
    top .65em
    left -.1em
    -webkit-transform rotateX(20deg) rotateY(-70deg) rotateZ(0deg)
    -moz-transform rotateX(20deg) rotateY(-70deg) rotateZ(0deg)
    -o-transform rotateX(20deg) rotateY(-70deg) rotateZ(0deg)
    transform rotateX(20deg) rotateY(-70deg) rotateZ(0deg)
  }
  85% {
    /* Wing rotates in */
    top .65em
    left -.1em
    -webkit-transform rotateX(0deg) rotateY(0deg) rotateZ(0deg)
    -moz-transform rotateX(0deg) rotateY(0deg) rotateZ(0deg)
    -o-transform rotateX(0deg) rotateY(0deg) rotateZ(0deg)
    transform rotateX(0deg) rotateY(0deg) rotateZ(0deg)
  }
  90% {
    /* Have folded wings appear(opacity 1) from 8-9s*/
    top .65em
    left  0em
    opacity 1
    -webkit-transform rotateX(20deg) rotateY(-75deg) rotateZ(0deg)
    -moz-transform rotateX(20deg) rotateY(-75deg) rotateZ(0deg)
    -o-transform rotateX(20deg) rotateY(-75deg) rotateZ(0deg)
    transform rotateX(20deg) rotateY(-75deg) rotateZ(0deg)
  }
  100% {
    /* Wings dissappear(opacity 0) */
    top .65em
    left .1em
    opacity 0
    -webkit-transform rotateX(20deg) rotateY(-120deg) rotateZ(0deg)
    -moz-transform rotateX(20deg) rotateY(-120deg) rotateZ(0deg)
    -o-transform rotateX(20deg) rotateY(-120deg) rotateZ(0deg)
    transform rotateX(20deg) rotateY(-120deg) rotateZ(0deg)
  }
}

@keyframes foldedAppearence {
  0% {
    opacity 0
  }
  80% {
    opacity 0
  }
  90% {
    opacity 0
  }
  100% {
    opacity 1
  }
}

@keyframes owlMotion {
  0% {
    top -9em
    opacity 0
    -webkit-transform scale(.8)
    -moz-transform scale(.8)
    -o-transform scale(.8)
    transform scale(.8)
  }
  10% {
    top -9em
    opacity 1
    -webkit-transform scale(.8)
    -moz-transform scale(.8)
    -o-transform scale(.8)
    transform scale(.8)
  }
  60% {
    top 5
  }
  70% {
    top 4em
    -webkit-transform scale(.8)
    -moz-transform scale(.8)
    -o-transform scale(.8)
    transform scale(.8)
  }
  80% {
    top 2.5em
    -webkit-transform scale(1)
    -moz-transform scale(1)
    -o-transform scale(1)
    transform scale(1)
  }
  90% {
    top 3em
    -webkit-transform scale(1)
    -moz-transform scale(1)
    -o-transform scale(1)
    transform scale(1)
  }
  100% {
    top 3em
    opacity 1
    -webkit-transform scale(1)
    -moz-transform scale(1)
    -o-transform scale(1)
    transform scale(1)
  }
}

@keyframes legMotion {
  0% {
    z-index -1
  }
  80% {
    z-index -1
  }
  100% {
    z-index 9999
  }
}


/*
  navicon key frames
*/
@keyframes squishBottom {
  0% {
    margin-top 32px
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    margin-top -3px
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  75% {
    margin-top -3px
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    margin-top -3px
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
}

@keyframes squishTop {
  0% {
    margin-top -20px
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    margin-top -3px
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  75% {
    margin-top -3px
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    margin-top -3px
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

@keyframes dissappear {
  0% {
    opacity 1
  }
  50% {
    opacity 1
  }
  65% {
    opacity 0
  }
  100% {
    opacity 0
  }
}

@keyframes squishBottomRev {
  0% {
    margin-top -3px
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  50% {
    margin-top -3px
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  75% {
    margin-top -3px
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    margin-top 32px
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes squishTopRev {
  0% {
    margin-top -3px
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  50% {
    margin-top -3px
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  75% {
    margin-top -3px
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    margin-top -20px
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes dissappearRev {
  0% {
    opacity 0
  }

  50% {
    opacity 0
  }
  100% {
    opacity 1
  }
}


/*
 load keyframes
*/
@keyframes appear {
  0% {
    opacity 0
  }
  20% {
    opacity 1
  }
  100% {
    opacity 1
  }
}



#media
  li
    margin 5px
    display inline-block

    svg
      display block
      width 32px
      height 32px
    svg g > *, svg > *
      fill black
    #g:hover g > *
      fill #FF3333
    #fb:hover svg > *
      fill #3B5998
    #t:hover svg > *
      fill #33CCFF
    #gh:hover svg > *
      fill #666
    #ln:hover g > *
      fill #4875B4

  .link, #blog a
    reset-link()
    color white
    border-bottom green 1px solid
    &:hover
      color green
      border-bottom white 1px solid

#Projects
  width 60%
  margin 100px 20% 0 20%
  padding-bottom 100px

  h1
    text-align center
    margin-bottom 2em

  li
    list-style none
    margin 2em
    &:last-child
      margin-top 10px

  .img
    width 48px
    margin-bottom -1em
    rounded()
    &:nth-child(4)
      border 3px solid lighten(grey, 70)
  .link
    font-size 24px
    margin 1em 2em 1em 1em
  .description
    margin-top 2em
    margin-left 5em
    color black

  .link
    padding 3px
    color black
    border-bottom 1px solid green
    &:hover
      color green
      border-bottom 1px solid black
