normalize()

red = #C60E0A
light-red = #ff3333
blue = #3399ff
white = #fff


@font-face
  font-family 'Open Sans light'
  src url('/fonts/OpenSanslight.woff')

*
  margin 0
  padding 0

html
  height 100%

body
  font-family Open Sans light, sans-serif
  font-weight bold
  bg('/img/background.jpg',  no-repeat center center fixed)
  background-size cover
  color white
  width 100%

.img
  width 32px
  text-decoration none
  rounded()

.link
  text-decoration none
  color red
  hover-underline()


#container
  position absolute
  display block
  text-align left
  left 50%
  margin-left -225px
  margin-top 10%
  width 450px
  
  ul
    list-style none
    display inline-block
  
  #img
    margin-top 10px
    margin-left 25px
    border transparent solid 1px
    border-radius 10px
    max-width 25%

  #about
    background linear-gradient(top, rgba(0, 0, 0, .45), rgba(0, 0, 0, .40), rgba(0, 0, 0, .25))
    border-radius 10px 10px 0 0
    border-bottom 1.5px red solid
    a
      margin-left 45px
    p
      margin-top -5px
      padding-left 30px
      padding-right 10px
    
    #media
      width 280px
      display inline-block
      margin-left -40px
      li
        display inline-block
      ul:last-child
        margin-top 0
        margin-left 40px
  
  #contact
    background-color light-red
    border-radius 0 0 10px 10px

    ul
      padding-left 0
      width 100%
      list-style none
      li
        padding-left 55px
        display inline-block
    #email, #phone
      text-decoration none
      color white
      hover-underline()



#projects
  position absolute
  margin-top 10%
  margin-bottom 10%
  top 60%
  left 50%
  margin-left -206.5px
  max-width 413px
  a
    text-decoration none
  ul
    list-style none
    display inline-block
    li
      list-style none
      &:last-child
        margin-top 10px

  .img
    margin-right 10px
    width 48px
  .description
    margin-left 15%
    color #000



@media screen and (max-width: 550px)
  
  #container
    position static
    width 100%
    margin 0
    padding 0
    span img
      width 250px
      max-width 92px
    
    #about
      border-radius 0

    #contact
      border-radius 0
      li
        padding 0
        text-align center




@media screen and (max-width: 425px)
  
  #container
    #contact
      border-radius 0
      ul
        padding-left 0
        li
          width 100%
          padding-left 0
          padding-bottom 10px
          &:last-child
            padding-top 10px
            padding-bottom 0
            border-top 1px dashed white
          #phone, #email
            text-decoration none
            color white
            border-bottom 1px white solid
            &:hover
              border-bottom 1px blue solid
              color blue
  #projects
    top 50%
    width 100%
    left 50px
    ul
      padding-left 125px
      width 100%
      li
        padding-top 10px
      &:first-child
        margin-bottom -12px
