normalize()

//colors
red = #C60E0A
orange = #F2A34F
yellow = #F8CA5C
green = #06C826
light-green = #73dc9d
light-blue = #00CED1
blue = #00a6fc
purple = #8E48C2
white = #fff
dark-grey = #272727
grey = #333333

@font-face
  font-family 'Open Sans light'
  src url('/fonts/OpenSanslight.woff')

body
  font-family Open Sans light, sans-serif
  bg('/img/purpleshape.jpg', repeat fixed)
  color white

img
  border transparent solid 1px
  border-radius 10px
  max-width 25%

a
  text-decoration none
  color light-blue
  hover-underline()

#container
  display block
  text-align left
  margin-left 30%
  margin-top 15%
  width 500px
  ul
    list-style none
    display inline-block

#about
  li
    margin-top 10px
  a
    margin-left 10px

#resume
  display none

#projects
  display block

#twitter-img
  width 32px

#blog-link
  display none

nav
  text-align center
  width 100%
  border-top 1px red solid
  ul
    margin-right 10px
  li
    display inline-block
    list-style none
    hover-underline()
    margin-right 20px

@media screen and (max-width: 1000px)
  #container
    width 200px
