---
title: "Carrot - A New Chapter"
date: 2014/06/01
summary: "Waukesha, Wisconsin to New York City, New York - It's a big change, a giant step in my career and education."
---

extends ../views/blog-layout

block content
  :markdown
    ## Carrot - A New Chapter

    *Published on June 1, 2014*

    This morning I left for New York City with [Sean Lang][0], to live in Brooklyn for two and a half months. We are both going to work at [Carrot][1] in the Dumbo District. It's going to be a great couple of months working with people that are more experienced than myself. I can't wait to see how much I've improved afterwards!

    ### Update
    After an amazing summer in New York City I came back to Wisconsin with a vast amount of new knowledge. I worked on many projects at Carrot, a couple of them were [Olemca Switched On][2] and a chrome extension called [10kft-stopwatch][3]. I made major improvements in my coding style and learned about a new JavaScript framework. [Marionette.js][4] was the new framework I picked up that allows you to build web apps with [Backbone][5] in an efficent way.

    Learning Marionette and building these projects wouldn't have been possible without the amazing people working at Carrot. The atmosphere at Carrot gives you the feeling that you're apart of the Carrot family and I can't thank Carrot enough for the opporunity that I was given.
    
    [0]: //twitter.com/slang800
    [1]: //carrot.is
    [2]: //olmecaswitchedon.com
    [3]: //github.com/carrot/10k-stopwatch
    [4]: //marionettejs.com
    [5]: //backbonejs.org
