---
title: 2013 Overview
date: 12/29/2013
link: 2013Overview
---

:markdown
	Since January 1st I have explored the extensive world of programming. I've built dynamic & static web pages, used python as a server-side language to update files, learned RESTful API's and usage, programming with ruby, and many projects. There are many lessons I've learned. Like to invest in ideas that seem "unlikely to succeed"... Example: Bitcoin, with the [current price](//preev.com/btc/usd) of ~$726USD(or [Dogecoin](//dogecoin.com/) a lucky miss! ~$.001USD). That is a huge opportunity missed out on, not Dogecoin haha. But other opportunities have come and I've grasped them. 

	------

	###Mochila Mail
	I'm currently the Lead Developer of [Mochila Mail](//www.mochilamail.com/). Mochila Mail is the successor of [Sparrow](//www.sparrowmailapp.com/); the intent is to make you "**Postmaster General of your Inbox**" allowing you to focus on the task at hand, your email. The landing page is currently being re-built from [Victor Erixon](//dribbble.com/victorerixon)'s latest design. Unfortunately I'm keeping the new design hidden until release, but here's the latest design of the app itself!

	<section class="gallery">
		![mochilamailApp](/img/mochilamailApp.png)
		<div>[Sign-up for beta access](//mochilamail.com) or [follow the project on dribble](//dribbble.com/victorerixon/projects/78077-Email)!</div>
	</section>


	------

	###Java Exploit
	My first web app from junior year in high school, went from crap to a little better last night when I released a clean, updated version. My vision was to help rid the world from Java, one of the most insecure languages. Sadly during college I must learn Java even though I will, hopefully, never use it as I pursue a career in Web Development. Nonetheless check out the [new update](//java-exploit.com)!

	<section class="gallery">
		![javaexploitApp](/img/javaexploitApp.png)
	</section>

	------

	### _This_ Web Design Overview
	I though I would throw this in considering I pulled an all nighter with [Sean Lang](//slang.cx), an amazing developer who focuses on web development mainly with [roots](roots.cx), management of [nib](//visionmedia.github.io/nib/), & [side projects](//github.com/slang800). Did I mention he's writing a book about [Jade](//jade-lang.com/), HTML template language! He actually threw all the previous files into a pretty strange view. Here's my simplistic view, a change over time in this sites design.
	
	<section class="gallery">
		![thisDesign](/img/thisDesign.jpeg)
	</section>

	------

	### Simplistic & Minimalism Design Mock-ups
	I created these designs during college, while board out of my mind with Java.
	
	<section class="gallery">
		<div>[What if?](//github.com/hhsnopek/whatif)</div>
		![whatifDesign](/img/whatifDesign.png)

		<div>[Miracles](//github.com/hhsnopek/miracles)</div>
		![miraclesDesign](/img/miraclesDesign.png)
	</section>