---
title: "Carrot Creative - A New Chapter"
link: "carrot-creative-new-york-city"
date: 6/1/14
summary: "Waukesha, Wisconsin to New York City, New York - It's a big change, a giant leap for my career and education."
---

ul#city-to-city
  li
    #home
      #sun
      #house
        #roof
        .window
        .window
        #door
      #garage
  li
    ~900 miles from home
  li
    #nyc
      .building
        - for (var i = 0; i <= 29; i ++)
          p.window

      .building
        - for (var i = 0; i <= 11; i ++)
          p.window

:markdown
  This morning I left for New York City with [Sean Lang](https://twitter.com/slang800), to live and learn in Brooklyn for 2.5 months. We are going to work, starting monday, at [Carrot Creative](http://carrot.is/creative) in the Dumbo District. It's going to be a great couple of months working with people that are more experienced than I am. I can't wait to see how much I've improved!
