---
title: "Component - The Modular MVC"
link: "component-the-modular-mvc"
date:  3/31/14
summary: "A couple of weeks ago I pondered a question: What if we had a modular MVC, something that allowed me to use a bare bone or complex feature setup. As I discused this issue with my friend..."
---


:markdown
  A couple of weeks ago I pondered a question: What if we had a modular MVC, something that allowed me to use a bare bone or complex feature setup. As I discused this issue with my [friend](http://github.com/slang800), he enlightened me about...

  ![Component Logo](http://component.io/boot/images/logo.png)

  > "Component is a vertically integrated frontend solution, handling everything from package management to the build process, handling everything including HTML, JS, CSS, images, and fonts." - [component/component](https://github.com/component/component)

  <p style='text-align:center;'>What a beautiful modular framework<br/>Thank you <a  href='https://github.com/visionmedia'>TJ Holochuckway</a></p>
