---
title: "Hacker News - A Dark Theme"
link: "dark-theme-hacker-news"
date: 4/21/14
summary: 'A fresh, feature-full, Hacker News site with a darkside...'
---


:markdown
  [Hacker News](https://news.ycombinator.com/) as a community is amazing. The design of the site is not so pretty. I decided to install [hn-speical](https://github.com/gabrielecirulli/hn-special), the [chrome extension ](https://chrome.google.com/webstore/detail/hn-special-an-addition-to/cchaceegbflphbdpfocjalgjhjoahiia). Giving me a fresh, feature-full, Hacker News site. But everything needs a darkside!

  I present to you [hn-special-dark](https://github.com/HHSnopek/hn-special-dark)!

  ![Dark Theme HN Special](https://raw.githubusercontent.com/HHSnopek/tripping-octo-wookie/master/dark-hn-special.png)

  ####Installation
  1. To install hn-special-dark [download](https://github.com/HHSnopek/hn-special-dark/archive/master.zip) then unzip
  2. Go to [chrome://extenstions](chrome://extensions/) and enable developer mode
  3. Click load unpacked extenstion, and select the hn-special-dark folder
  4. Whoa! You're finished. Enjoy!


  Don't forget to star it! :D
  <iframe src="http://ghbtns.com/github-btn.html?user=hhsnopek&repo=hn-special-dark&type=watch&count=true&size=large" height="30" width="170" frameborder="0" scrolling="0" style="width:170px; height: 30px;" allowTransparency="true"></iframe>
