---
title: Elementary OS, my conversion.
date: 11/25/2013
---
	
:markdown
	About 2 weeks ago I started my conversion to [Elementary OS](elementaryos.org), a distribution of Linux built off of Ubuntu 12.04, and what a beautiful OS this is.


