---
title: Elementary OS, my conversion.
date: 12/28/2013
link: ElementaryOS
---
	
:markdown
	About a month and a half ago I started my conversion to [Elementary OS](elementaryos.org), a distribution of Linux built off of Ubuntu 12.04, and what a beautiful OS this is.
	
	<section class='gallery'>
		![myDesktop](/img/desktop.jpeg)
	</section>

	Of course Elementary OS is a Mac OS X look alike, yet I think of it as a more personalized look. It displays simplicity, with a modern UI and UX that is appropriate for any user. One of my favorite features is when you full-screen/maximize a window the dock hides, leaving the status bar at the top of the window. There are a couple draw backs that I miss from Ubuntu. One of which would be [Nautilus](https://wiki.archlinux.org/index.php/Nautilus), folder/file manager; which is more stable then [Pantheon](wiki.archlinux.org/index.php/Pantheon). Pantheon also has a single click, bug/feature, that is very annoying when selecting folders and files. You tend to open more than you could ever want. Another draw back is not having full control of my desktop grid, which also seemed to disappear within Ubuntu 13.04 >= *. Besides these drawbacks, I've grown to love Elementary OS and I recommend it to anyone that hasn't tried it!
