---
title: Node.js & NPM update issue
date: 11/17/2013
link: NodejsNPM
---

:markdown

	Early this morning at 3 am as I try to install npm and install roots I had an error that wouldn't allow me to install [roots](roots.cx) due to unmet dependencies with npm. This was due to me having Node.js v0.6.12 installed. What I didn't know is that when you add [Chris Lea's Node.js ppa](htlaunchpad.net/~chris-lea/+archive/node.js/) that it updates you to v0.10.22, stable version, which completely breaks npm! After searching for a bit, afer a nice nap(6 hour nap), I found the solution, Chris had [posted](https://chrislea.com/2013/03/15/upgrading-from-node-js-0-8-x-to-0-10-0-from-my-ppa/) how to update from v0.8.x to v0.10.x. Within his post he talks about Node.js-legacy that contains the stable release, that stays behind the 'current'(v0.10.22). The legacy ppa will change from v0.8.x to v0.10.x once Node.js v0.12.x is released. This means that we can install Node.js-legacy ppa and we can then keep npm!

	-------

	### The Fix

	Steps to install Node.js-legacy(v0.8.26)

	Fully remove node packages and unessecary dependencies

	```
	sudo apt-get purge node*
	sudo apt-get autoremove
	```

	Remove the ppa from you're ppa list and clean(Not neccessary to clean list, I just do to keep things tidy)

	```
	sudo apt-add-repository --remove ppa:chris-lea/node.js
	sudo apt-get clean && sudo apt-get autoclean
	sudo apt-get update
	```

	Add Chris Lea's Node.js-legacy ppa

	```
	sudo add-apt-repository ppa:chris-lea/node.js
	sudo apt-get update && sudo apt-get -y upgrade
	```

	Install npm

	```
	sudo apt-get install npm
	```

	The final step will install Node.js v0.8.26 and npm v1.3.0, thus this allows me to finally install [Roots](roots.cx)!
